<!DOCTYPE html>
<html>
  <head>
    <title>Log in</title>
   <link rel="stylesheet" type="text/css" href="/js/EasyUI/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/js/EasyUI/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/js/EasyUI/demo.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/EasyUI/jquery.easyui.min.js"></script>

    <script type='text/javascript' src='/js/cookieAccess.js'></script>
    <script type='text/javascript'>
        function login() {
            var uid = $('#email').val();
            var pwd = $('#apppassword').val();
            var formdata = { userid: uid, apppassword: pwd };
            var rp = { z: JSON.stringify( formdata ) };
            $.ajax ( {
                    url: "/user/login",
                    method: "post",
                    data: rp, 
                    async: false,
                    success: function ( data) {
                        if ( data.errCode == 0 ) {
                            setCookie( 'email', uid);
                            setCookie( 'userid', data.value.userid); 
                            setCookie( 'sessionid', data.value.sessionid); 
                            alert( 'log in successfully');
                        } else {
                            alert( 'log in Failed, please try again.');
                        }
                    }
            }) 
        }
    </script>
  </head>
  <body>
    <h3>Add Book</h3>
    <form method='POST' id='form'>
        <table>
            <tr>
                <input class="easyui-textbox" data-options="prompt:'Email Address:',validType:'email'" style="width:100%;height:32px">
            </tr>
            <tr>
                <td>Password</td><td><input type='password' id='apppassword' size='20' class="easyui-textbox" style="width:100%;height:32px"/>
            </tr>
            <tr><td colspan='2'><input type='button' value='Log In' onclick='login();'></td></tr>
        </table>
    </form>
</body>
</html>