<!DOCTYPE html>
<html>
  <head>
    <title借书单</title>
    <link rel="stylesheet" type="text/css" href="/js/EasyUI/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/js/EasyUI/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/js/EasyUI/demo.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/EasyUI/jquery.easyui.min.js"></script>
    <script type='text/javascript' src='/js/cookieAccess.js'></script>
    <script type='text/javascript' src='/js/checklogin.js'></script>
    <script type="text/javascript" src="/js/common/pagetool.js"></script>
    <script type='text/javascript'>
        var needlogin = checkNeedToLogin ();
        if ( !needlogin) {
            window.location = '/login.ejs'; 
        } 
        $(document).ready( function () {
            var param = { userid: needlogin.userid, sessionid: needlogin.sessionid, bookid: bookid }; 
            var rp = { z: JSON.stringify( param ) };
             $.ajax ( {
                url: "/book/findAvailableBooksInSchool",
                method: "post",
                data: rp, 
                async: false,
                success: function ( data) { 

                }
            }  );
        }

        function refreshResultGrid (data ) {
            var opts = $('#dgBooks').datagrid('options');
            if ( opts.columns.length==0 && data.rows.length >0 ) {
                var r0 = data.rows[0];
                var cols = [ ], dgcols=[ ];
                for ( f in r0) {
                    cols.push( { field: f, title: f, align: 'center', color: 'blue'} );
                }
                dgcols.push( cols );
                opts.columns = dgcols;
                $('#dgBooks').datagrid( opts );
            }
            
            $('#dgBooks').datagrid('loadData', data.rows );
        }

    </script>
  </head>
  <body>
    <h3>Search Book</h3>
    <form method='POST' id='form'>
        <table class="easyui-datagrid" title="" style="width:100%;height:100%;padding:10px;" id="dgBooks"
            data-options="singleSelect:true,collapsible:true,rownumbers:true" >
        </table>
        <br>
        <a  class="easyui-linkbutton"  style="width:80px" onclick='fillSlip();'>我想借书</a>
        <a  class="easyui-linkbutton"  style="width:80px" onclick='viewComments();'>看书评</a>

    </form>
</body>
</html>
