<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="/js/EasyUI/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/js/EasyUI/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/js/EasyUI/demo.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/EasyUI/jquery.easyui.min.js"></script>
        
    <script type='text/javascript' src='/js/cookieAccess.js'></script>
    <script type='text/javascript' src='/js/checklogin.js'></script>
    <script type="text/javascript" src="/js/common/pagetool.js"></script>
    <script type='text/javascript'>
        var needlogin = checkNeedToLogin ();
        if ( !needlogin) {
            window.location = '/login.ejs'; 
        } 
        
        $(document).ready(function() {
            /*$('#startdate').datebox({
                formatter: function(date){ return date.getFullYear()+'-'+(date.getMonth()+1)+'-'+date.getDate();},
                parser: function(date){ return new Date(Date.parse(date.replace(/-/g,"/")));} 
            } );*/
            var quid = getQueryString( 'userid' );
            var curuserid = ( needlogin.userid || quid );
            showUserInfo( curuserid ) ;
        } );
        function showUserInfo( uid) {
            var rp = { z: JSON.stringify( { userid: uid } ) }; 
            $.ajax ( {
                url: "/user/getUserProfile",
                method: "post",
                data: rp, 
                async: false,
                success: function ( data) {
                    if ( data.errCode==0 && data.value ) {  // data.value is user information
                        var user = data.value;
                        setDocElementValues( user );
                        if ( user.userschools && user.userschools.length>0  ) {
                            alert( JSON.stringify( user.userschools ) );
                            $('#tblUserSchools').datagrid( 'loadData', { rows: user.userschools } );
                        }
                    }
                }
            } );
        }
        
        function uploadIcon() {
            document.getElementById('userid').value = needlogin.userid;
            document.getElementById('frmUpload').submit();
        }
        function querySchool() {
            var sn = document.getElementById('schoolnamekw').value; 
            //sn =encodeURI( sn );
            var rp = { z: JSON.stringify( { schoolname:  sn } ) }; 
            $.ajax ( {
                    url: "/school/querySchool",
                    method: "post",
                    data: rp, 
                    async: false,
                    success: function ( data) {
                        if ( data.errCode ==0 && data.value && data.value.rows ) {
                            $('#cbScools').combobox('clear');
                            var rs = data.value.rows, newitms= []; 
                            for ( var i=0; i< rs.length; i++ ) {
                                var itm = { value: rs[i].schoolid, text: rs[i].schoolname };
                                newitms.push( itm ); 
                            }
                            $('#cbSchools').combobox('loadData',  newitms );
                            $('#cbSchools').combobox('select', newitms[0].value);
                        }
                    }
            } ); 
        }
        function addUserSchool () {
            var schoolid = $('#cbSchools').combobox('getValue');
            var stdate = $('#startdate').datebox('getValue');
            alert( schoolid + ' : ' + stdate );
            if ( !schoolid && !stdate || stdate.length!=10 ) {
                alert('学校和入学日期不能空');
                return;
            }
            
            var gno = $('#gradeno').combobox('getValue'), cno= $('#classno').numberbox('getValue');
            var param = {   userinfo :needlogin, 
                            bizdata: { schoolid: schoolid, startdate: stdate, gradeno: gno, classno: cno } }; 
            var rp = { z: JSON.stringify( param ) };
            $.ajax ( {
                url: "/school/addStudent",
                method: "post",
                data: rp, 
                async: false,
                success: function ( data) {
                    alert( JSON.stringify(data) );
                }
            }) 
        }
    </script>
  </head>
  <body>
    <h3>User Profile</h3>
    <div id="p" class="easyui-panel" title="基本信息" style="width:700px;height:200px;padding:10px;">
        <form method='POST' id='frmBasic'>
            <table>
                <tr> <td>邮箱: </td> <td><input class="easyui-textbox" style="width:400px;height:32px" id='email' control_field='email'> </td> </tr>
                <tr> <td>昵称: </td> <td><input class="easyui-textbox" style="width:30%;height:32px" id='nickname' control_field='nickname'> </td> </tr>
                <tr> <td>性别: </td> <td>
                    <INPUT type=radio name="gender" value='1' control_field='gender'>男
                    <INPUT type=radio name="gender" value='0' control_field='gender'>女
                    <INPUT type=radio name="gender" value='-1' control_field='gender'>不公开
                </td> </tr>
                <tr> <td>是否公开: </td> <td><INPUT type=radio name="isopen" value='1'>可以
                    <INPUT type=radio name="isopen" value='0'>不要</td> </tr>
            </table>
        </form>
    </div>
    <P>
    <div id="p" class="easyui-panel" title="头像" style="width:700px;height:200px;padding:10px;">
        <table style="width:200px;height:100px;padding:0px;">
            <tr><td>头像</td><td><img id='photourl' src='/img/bear.jpg' width='80px' height='80px'  control_field='photourl'></td></tr>
        </table>    
        <form id="frmUpload"  id='frmPhoto' encType="multipart/form-data" method="post"
             action="/user/updateIcon">
            <input type='hidden' id='userid' name='userid'>
            <table style="width:200px;height:80px;padding:0px;">
                <tr><td>
                    <input type="file" size="120" style="width: 500px" id="iconFileName" name="iconFileName">
                    <input type="button" value="Upload" onclick="uploadIcon();">
                </td></tr>
            </table>
        </form>
    </div>    
    <P>
    <div id="p" class="easyui-panel" title="学校" style="width:700px;height:240px;padding:10px;">
        <table class="easyui-datagrid" title="" style="width:680px;" id='tblUserSchools'>
            <thead>
                <tr>
                    <th data-options="field:'schoolname', width:400">School Name</th>
                    <th data-options="field:'startdate',  width:100">Start Date</th>
                    <th data-options="field:'gradeno',    width:80,align:'center'">Grade</th>
                    <th data-options="field:'classno',    width:80,align:'center'">Class</th>
                </tr>
            </thead>
        </table>
    </div>    
    <P>
    <div id="wndUserSchool" class="easyui-window" data-options="minimizable:false, maximizable:false, collapsible:false, closable:false, resizable:false" 
            style="width:480px;height:240px;padding:10px;" title="添加经历过的学校">
        <table>
            <tr>
                <td>学校名称</td>
                <td><input class="easyui-textbox" style="width:200px;height:32px" id='schoolnamekw'>
                    <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px" onclick='querySchool();'>查找</a>  
                <td>
            </tr>
            <tr>
                <td>查找结果</td>
                <td>
                    <select class="easyui-combobox" id="cbSchools" required="true" style="width:200px;">
                    </select>
                </td>
            </tr>
            <tr>
                <td>开始时间</td>
                <td><input class="easyui-datebox" type='text' id='startdate' required="true"></input></td>
            </tr>
            <tr>
                <td>年级和班级</td>
                <td><select class="easyui-combobox" id="gradeno" style="width:80px;" required="true">
                    <option value="1">1</option><option value="2">2</option><option value="3">3</option>
                    <option value="4">4</option><option value="5">5</option><option value="6">6</option>
                    <option value="7">7</option><option value="8">8</option><option value="9">9</option>
                    <option value="10">10</option><option value="11">11</option><option value="12">12</option>
                    </select>
                    <input id='classno' class="easyui-numberbox" min="1" max="40" precision="0" style="width:80px;" required="true"/>

                    <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" style="width:80px" onclick='addUserSchool();'>确定</a>    
                </td>
            </tr>
        </table>          
    </div>
</body>
</html>
